.books-info {
  width: 95%;
}

.book-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  padding: 30px;
  border: 1px solid #e8e8e8;
}

.book-info .book-details {
  display: flex;
  flex-direction: column;
}

.book-info .book-details * {
  margin: 0;
}

.book-info .book-details p:first-of-type {
  color: #121212;
  font-weight: 700;
  opacity: 0.5;
}

.book-info .book-details p:last-of-type {
  color: #4386bf;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
}

.book-info .book-details h3 {
  color: #121212;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin-top: 6px;
}

.book-info .book-details .buttons {
  display: flex;
  padding: 0;
  margin: 0;
}

.book-info .book-details .buttons li {
  list-style: none;
}

.book-info .book-details .buttons li:not(:last-of-type) {
  border-right: 3px solid #e8e8e8;
}

.book-info .book-progress .book-progress-details button {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 10px 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #fff;
}

.book-info .book-details .buttons li button {
  background-color: white;
  color: #4386bf;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  border: none;
  cursor: pointer;
}

.book-info .book-progress {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.book-info .book-progress .statistics {
  display: flex;
  align-items: center;
  gap: 10px;
}

.book-info .book-progress .statistics .graph {
  width: 80px;
  height: 80px;
  border: 5px solid #e8e8e8;
  border-right-color: #307bbe;
  border-radius: 50%;
  rotate: -45deg;
}

.book-info .book-progress .book-progress-details p {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #121212;
  font-size: 18px;
  opacity: 0.5;
}

.book-info .book-progress .book-progress-details p:last-of-type {
  opacity: 1;
}

.book-info .book-progress .statistics .graph-details p {
  margin: 0;
  color: #121212;
}

.book-info .book-progress .statistics .graph-details p:first-of-type {
  font-size: 35px;
  font-weight: 400;
}

.book-info .book-progress .statistics .graph-details p:last-of-type {
  opacity: 0.5;
}

.book-info .book-progress .vertical-line {
  width: 2px;
  height: 80px;
  background-color: #e8e8e8;
}

.book-info .book-progress .book-progress-details {
  margin-right: 20%;
}
